{% extends "layout.html" %}
{% block content %}
<h1>Empresas vinculadas</h1>
<div class="card-group">
    <div class="card">
      <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVdd4tPKuBBH-KXOTaGogXx2HOrYBMzeBEuw&s" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Fitness First</h5>
        <p class="card-text">El primer caso de éxito viene de la mano la cadena de gimnasios más grande del mundo, Fitness First. Según su CIO, Ed Hutt, la empresa se está volcando en una estrategia digital plenamente enfocada a interactuar con el cliente.</p>
        <a href="https://www.fitnessfirst.com/" class="card-text"><small class="text-muted">Fitness First</small></a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://i.pinimg.com/1200x/08/e9/3d/08e93d2224f69ee3b0886a6acc16a517.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Virgin Atlantic</h5>
        <p class="card-text">David Bulman, director IT de Virgin Atlantic, también es el responsable de un caso de éxito IOT. Desde 2014, los Boeing 787 de la compañía área llevan el internet de las cosas hasta el cielo. Literalmente. Todas las piezas de la aeronave se encuentran conectadas a la red. Desde las alas hasta el tren de aterrizaje.</p>
        <a href="https://www.virginatlantic.com/" class="card-text"><small class="text-muted">Virgin Atlantic</small></a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqNFPmOQGWCZKftfPhpUYmrQaAfZlr6k_NwA&s" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Stanly Black and Decker </h5>
        <p class="card-text">Cuando la fábrica de Stanly Black and Decker en México vio su productividad mermada, su CIO Gary Frederick, no dudo en instaurar una solución IOT para placar el problema. A las líneas de producción se les incorporó un dispositivo RDFI que enviaba información al sistema y a los gerentes responsables.</p>
        <a href="https://www.stanleyblackanddecker.com/" class="card-text"><small class="text-muted">Stanly Black and Decker</small></a>
      </div>
    </div>
  </div>

 <div class="card mb-3">
  <img style="width: 70%; height: auto; padding-left: 30%; padding-top: 5%; "  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_YQB0g5cNSRJgxeyfVFhgKwlen1nlO0RNpA&s" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Disney World</h5>
    <p class="card-text">Si visitamos Orlando, no podemos dejar pasar la oportunidad de visitar el siguiente caso de éxito IOT, y de paso así ver Disney World. Este parque temático se ha vuelto todavía más mágico con la tecnología RFID que ha sido incorporada en todo el parque.</p>
    <p class="card-text">La MagicBand es una pulsera que permite maximizar la experiencia dentro del parque. Entre otras cosas, podemos pagar en todo el parque, entrar a las atracciones sin hacer cola, localizar a nuestros familiares, recibir las fotos que nos hagamos en nuestro móvil y conseguir sorpresas a lo largo del parque.</p>
    <a href="https://www.disneyworld.eu/" class="card-text"><small class="text-muted">Disney World</small></a>
</div>
</div>
{% endblock%}