{% extends "layout.html" %}
{% block content %}
<h1>¿Que es internet de las cosas?</h1>

<dl class="row">
    <dt style=" padding-left: 4%; margin-right: 2%;" class="col-sm-3">Resumen</dt>
     <dd style=" padding-left: 4%; margin-right: 2%;" class="col-sm-9">El Internet de las cosas (IoT) es el proceso que permite conectar los elementos físicos cotidianos al Internet: desde los objetos domésticos comunes, como las bombillas de luz,  hasta los recursos para la atención de la salud,  como los dispositivos médicos; las prendas y los accesorios personales inteligentes; e incluso los sistemas de las ciudades inteligentes.</dd>
    
    <img style="padding: 4% ; width: 90%; height: auto;" src="https://static.vecteezy.com/system/resources/previews/004/694/778/non_2x/social-media-communication-internet-network-connection-concept-free-photo.jpg" alt="">
    <dt style=" padding-left: 4%; margin-right: 2%;" class="col-sm-3">¿Cómo funciona el IoT?</dt>
    <dd style=" padding-left: 4%; margin-right: 2%;" class="col-sm-9">
      <p>El término IoT hace referencia a los sistemas de dispositivos físicos que reciben y transfieren datos a través de redes inalámbricas con poca intervención humana. Es posible gracias a la integración de dispositivos informáticos en todo tipo de objetos.</p>
      <p>Por ejemplo, un termostato inteligente (generalmente inteligente  significa IoT) puede recibir datos de ubicación de u automóvil inteligente. Esta interconecitividad entre dispositivos te permite ajustar la temperatura de tu casa includo cuando no estás allá.p>
    </dd>
    
    <img style="padding: 4%; width: 90%; height: auto;" src="https://www.echeverrimontes.com/hubfs/internet%20de%20las%20cosas.jpg" alt="">
    <dt style=" padding-left: 4%; margin-right: 2%;" class="col-sm-3">¿Qué significa IoT industrial?</dt>
    <dd style=" padding-left: 4%; margin-right: 2%;" class="col-sm-9">IoT industrial (IIoT) se refiere a los dispositivos inteligentes utilizados en la fabricación, el comercio minorista, el sector de la salud y otras empresas para generar eficiencias empresariales. Los dispositivos industriales, que van desde los sensores hasta los equipos, proporcionan a los empresarios datos detallados y en tiempo real que pueden utilizarse para mejorar los procesos empresariales. Proporcionan información sobre la administración de la cadena de suministro, la logística, los recursos humanos y la producción, lo que reduce los costes y aumenta los flujos de ingresos. </dd>
    <img  style="padding: 4%; width: 90%; height: auto;" src="https://i.pinimg.com/564x/e3/99/bc/e399bcc851d52e44d582977ec9c9611f.jpg" alt="">
  </dl>
{% endblock%}
