{% extends "layout.html" %}
{% block content %}
<h1> Ventajas y desventajas</h1>

<dl  class="row"></dl>
    
    <dt style=" padding-left: 8%;" class="col-sm-3">Ventajas</dt>
    <dd style=" padding-left: 8%;" class="col-sm-9">
    <ul>
      <li><strong> Conexión: </strong> El IoT permite la conexión de dispositivos que no estaban previamente conectados a Internet. Esto facilita la comunicación y la transferencia de datos en tiempo real, lo que permite la automatización de tareas y procesos.</li>
      <li><strong> Eficiencia: </strong> La automatización de procesos y tareas permite una mayor eficiencia en el uso de recursos, lo que a su vez reduce los costos y mejora la productividad.</li>
      <li><strong> Comodidad: </strong> El IoT permite el control remoto de dispositivos, lo que aumenta la comodidad y la accesibilidad. Por ejemplo, se pueden controlar luces, termostatos, cámaras de seguridad y otros dispositivos desde un dispositivo móvil o una computadora.</li>
      <li><strong> Seguridad: </strong> El IoT también puede mejorar la seguridad de hogares y empresas. Las cámaras de seguridad y los sensores de movimiento pueden detectar intrusiones y alertar a los propietarios, lo que ayuda a prevenir robos y otros delitos.</li>
      <li><strong> Salud: </strong> El IoT también puede mejorar la salud y el bienestar de las personas. Por ejemplo, los dispositivos de seguimiento de la salud pueden monitorear los signos vitales y enviar alertas a los médicos en caso de emergencia.</li>
      <li><strong> Análisis de datos: </strong> La conexión de objetos a internet permite la recopilación de grandes cantidades de datos, lo que puede ser muy útil para el análisis de patrones y la toma de decisiones informadas.</li>
    </ul>
    </dd>
    
    <dt style=" padding-left: 8%;" class="col-sm-3">Desventajas</dt>
    <dd style=" padding-left: 8%;" class="col-sm-9">
    <ul>
      <li><strong> Privacidad: </strong> El IoT puede poner en riesgo la privacidad de los usuarios. La recopilación de datos puede ser utilizada para fines malintencionados, como el robo de identidad y la vigilancia ilegal.</li>
      <li><strong> Vulnerabilidad: </strong> El IoT también puede ser vulnerable a los ataques cibernéticos. La interconexión de dispositivos aumenta el riesgo de brechas de seguridad y la exposición de información personal y confidencial.</li>
      <li><strong> Costo: </strong> El IoT puede ser costoso para implementar y mantener. La adopción de nuevas tecnologías y dispositivos puede requerir una inversión significativa.</li>
      <li><strong> Dependencia: </strong> La dependencia del IoT también puede ser una desventaja. Si los dispositivos fallan o pierden la conexión a Internet, pueden interrumpirse procesos y tareas importantes.</li>
      <li><strong> Complejidad: </strong> La complejidad del IoT puede ser una barrera para la adopción generalizada. Los usuarios pueden tener dificultades para entender y manejar dispositivos complejos, lo que puede limitar la utilidad del IoT.</li>
      <li><strong> Problemas de seguridad: </strong> La conexión de objetos a internet puede exponer a riesgos de seguridad, como el hackeo y la manipulación remota.</li> 
    </ul>
    </dd>
</dl>
  
{% endblock%}